body {
    background-color: beige;
}
h1 {
    color: red;
}

.form-wrapper {
        margin: 20px;
    }


    .form-label {
        margin-bottom: 10px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn {
        margin-top: 10px;
    }

